@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parent-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}
.sub-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  background-color: hsl(212, 45%, 89%);
}
.image-cont{
  width: 100%;
}
.inner-cont {
  width: 25%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: hsl(0, 0%, 100%);
}
.innertext {
  width: 90%;
  margin: 10px 10px 10px 15px;
}
.sub-cont img {
  width: 100%;
  height: 20%;
  border-radius: 5px;
}
.sub-cont #firstp,
.sub-cont #secondp {
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 0px 10px 0px 10px;
  margin-top: 15px;
  font-size: 15px;
}
.sub-cont #firstp {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.sub-cont #secondp {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
@media screen and (max-width:600px) {
 .inner-cont {
  width: 60%;
  height: auto;
 } 
}